mixin EditableDomo(domo)
    div.domoContainer(style="left: #{domo.x}; top:#{domo.y}")
        img(class="domoFace", src="/assets/img/domoface.jpeg", alt="domo face")
        form.domoEditForm(name="domoEdit", action="/edit", method="POST")
            label.domoLabel(for="name") Name:
            input.domoInput(type="text", name="name", placeHolder="#{domo.name}")
            label.domoLabel(for="age") Age:
            input.domoInput(type="text", name="age", placeHolder="#{domo.age}")
            label.domoLabel(for="xPos") X:
            input.domoInput(type="text", name="xPos", placeHolder="#{domo.x}")
            label.domoLabel(for="yPos") Y:
            input.domoInput(type="text", name="yPos", placeHolder="#{domo.y}")
            input(type="hidden", name="_csrf", value="#{csrfToken}")
            input(type="hidden", name="_id", value="#{domo._id}")
            a.domoEditSubmit(href="#") Edit Domo